* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"font1";
    src: url(font/Questrial-Regular.ttf);
}

/* Fil d'Ariane */
.fil-ariane {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.fil-ariane ul {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.fil-ariane li {
    display: flex;
    align-items: center;
}

.fil-ariane li::after {
    content: '>';
    margin-left: 5px;
    margin-right: 5px;
    color: #888;
}

.fil-ariane li:last-child::after {
    content: ''; /* Supprime la flèche après le dernier élément */
}

.fil-ariane a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.fil-ariane a:hover {
    color: #0056b3;
}

.fil-ariane li:last-child {
    color: #333; /* Dernier élément en gris */
}

/* Fin du style fil ariane */

/* Commande Container */
.commande-container {
    max-width: 1200px;
    margin: 0px auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* Fin du style commande container */

/* style header */

header {
    background-color: #cc7700;;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    position: relative;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

header .subheading {
    font-size: 1.2em;
    font-weight: 300;
    color: #f5f5f5;
    margin-top: 5px;
}

/* Fin du style header */

h2, h3 {
    text-align: center;
    color: #333;
}

.section {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #444;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 2px solid #ccc;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #FF9900; /* Surbrillance de l'input au focus */
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #666;
}

/* Bouton Confirmer */
.btn-confirmer {
    width: 100%;
    padding: 15px;
    background-color: #FF9900;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-confirmer:hover {
    background-color: #e68a00;
}

/* Style pour le résumé de la commande */
.produit-resume {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#resume-commande {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#total-commande {
    font-size: 18px;
    text-align: right;
    font-weight: bold;
    color: #333;
}