@font-face {
    font-family: "font1";
    src: url(font/Questrial-Regular.ttf);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "font1";
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -10px;
}

.logo img{
    width: 100px;
    height: 100px;
}

.link-header{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-left: 14%;
}

.link-header a{
    text-decoration: none;
    color: black;
    margin: 0px 5%;
}

.link-header a:hover{
    border-bottom: 2px solid black;
}

.icone-header{
    margin-right: 2%;
    display: flex;
}

.search img,
.icone-header img{
    width: 30px;
    height: 30px;
    padding: 8px;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 28px;
    background: #f6f6f6;
}

.search-input{
    font-size: 16px;
    color: #333333;
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
}

p{
    font-size: 200%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 3%; 
}

.flash{
    margin-left: 10%;
    color: red;
    font-size: 250%;
}

.landing{
    display: flex;
    justify-content: space-around;
}

.news{
    height: 500px;
    width: 700px;
    background-image: url(images/UTV-ny.HS10UTVDSIDE.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.landing-left a{
    font-size: 200%;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.landing-right a{
    font-size: 200%;
    font-weight: bold;
    text-decoration: none;
    color: black;  
}

.best-products{
    height: 500px;
    width: 700px;
    background-image: url(images/335_720338374.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.catalogue{
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
}

.catalogue img{
    width: 300px;
    height: 300px;
}

.hat{
    height: 300px;
    width: 300px;
}

h3{
    margin-bottom: 1%;
}

.foulard span,
.anneaux span,
.cart span,
.hat span{
    font-size: 150%;
}

.catalogue-a{
    font-size: 200%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 3%; 
}

.slider{
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: -1%;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-weight: bold;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 30px;
}

.trust{
    height: 280px;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eeeee6;  
}

.ship{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ship span{
    font-weight: bold;
    font-size: 150%;
}

.ship img{
    width: 150px;
    height: 150px;
    margin-bottom: 15%;
}

.container-catalogue{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

.list-product .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
    cursor: pointer;
}

.list-product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10%;
    margin-bottom: 2%;
}

.list-product .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.list-product h2{
    font-weight: 500;
    font-size: large;
}

.list-product .item .price{
    letter-spacing: 5px;
    font-size: 100%;
    color: red;
}

.list-product .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.cart-tab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 2;
}

body.show-cart .cart-tab{
    inset: 0 0 0 auto;
}

body.show-cart .container-catalogue{
    transform: translateX(-250px);
}

.checkout,
.cart-tab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cart-tab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.checkout {
    background-color: #E8BC0E;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 1%;
}

.cart-tab .btn .close{
    background-color: #eee;
}

.cart-tab .list-cart .item img{
    width: 100%;
}

.cart-tab .list-cart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.list-cart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.list-cart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.list-cart .item:nth-child(even){
    background-color: #eee1;
}

.list-cart{
    overflow: auto;
}

.list-cart::-webkit-scrollbar{
    width: 0;
}

footer {
    background: #eeeee6;
    color: black;
    text-align: center;
    padding: 40px 0;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
}

.footer-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-content p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: center;
}

.socials li {
    margin: 0 10px;
}

.socials li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

.footer-content img{
    width: 50px;
    height: 50px;
}

@media (max-width: 400px){
    .landing{
        flex-direction: column;
        align-items: center;
    }

    .logo img{
        height: 70px;
        width: 70px;
    }

    header{
        margin: 0;
    }

    .search{
        display: none;
    }

    .link-header{
        margin-left: 0;
    }

    .best-products,
    .news{
        width: 300px;
        height: 200px;
        margin-bottom: 20%;
    }

    .list-product{
        grid-template-columns: repeat(2, 1fr);
    }

    .ship img{
        width: 100px;
        height: 100px;
    }

    .socials li a{
        font-size: 8px;
    }

    .flash{
        margin-left: 10px;
        font-size: 150%;
    }

    .catalogue-a,
    .landing-right a,
    .landing-left a{
        font-size: 125%;
    }

    .ship span{
        font-size: 90%;
    }

    .footer-bottom p{
        font-size: 100%;
    }

    .trust{
        margin-top: 20%;
    }

    .icone-header img{
        padding: 4px;
        width: 25px;
        height: 25px;
    }
}